@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body{
    font-family: 'Noto Sans KR', sans-serif;
    color: #222328;
}
#grid{
    z-index: 9999;
    position: fixed;
    width: 100%;
}
#grid ul{
    width: 1200px;
    margin: 0 auto;
}
#grid ul li{
    float: left;
    width: 80px;
    margin: 0 10px;
    height: 100vh;
    background: aqua;
    opacity: 0.1;
}



header{
    font-family: inherit;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 80px;
    /* border-bottom: 1px solid #707070; */
    box-sizing: border-box;
    padding-top: 20px;
    box-shadow: 0px 10px 13px -7px rgba(0,0,0,0.2);
    background-color: white;
}

.col_1{width: 80px;}
.col_2{width: 180px;}
.col_3{width: 280px;} 
.col_4{width: 380px;}
.col_5{width: 480px;}
.col_6{width: 580px;}

.fs24{font-size: 24px;}
.fs42{font-size: 42px;}
.fs48{font-size: 48px;}
.fs32{font-size: 32px;}
.fs28{font-size: 28px;}
.fs18{font-size: 18px;}

.zIdx1{z-index: 1;}
.zIdx2{z-index: 2;}
.zIdx3{z-index: 3;}

.cPointer{cursor: pointer;}

.guestClr{color: #666666;}
.basicClr{color: #6a88ff;}
.proClr{color: #a35061;}

.container{
    max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 10px 0;
}

.headerContainer{
    display: block;
    position: relative;
    display: flex;
    align-items: center;
}

.headerContainer div#logo{
    float: left;
    margin-left: 17px;
}
.headerContainer div#logo img{
    height: 40px;
}
.headerContainer div#menu{
    position: absolute;
    right: 0;
}
.headerContainer div#menu ul li{
    width: 80px;
    height: 40px;
    float: left;
    margin: 0 10px;
    transition: .5s;
    border-radius: 8px;
}
.headerContainer div#menu ul li:hover{
    background: #F7E600;
}
.headerContainer div#menu ul li a{
    display: block;
    text-align: center;
    line-height: 40px;
    font-weight: 500;
}
.headerContainer div#menu ul li:hover a{
    font-weight: 600;
}
div#burger{
    /* display: none; */
    /* display: block; */
    position: absolute;
    text-align: center;
    right: 0;
    margin: 0 10px;
}
#burger div{
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
    
    transition: .5s;
}
#burger div i{
    font-size: 24px;
    line-height: 40px;
}
#burger div:hover{
    background: #F7E600;
}
#burger ul{
    display: none;
    position: absolute;
    box-sizing: border-box;
    padding: 10px;
    top: 50px;
    right: 0;
    width: 280px;
    background: white;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 10px 13px -7px rgba(0,0,0,0.2);
}
#burger ul li{
    width: 100%;
    height: 36px;
    font-size: 16px;
    margin: 10px 0;
    border-radius: 8px;
    transition: .2s;
}
#burger ul li:hover{
    background: #F7E600;
}
#burger ul li a{
    display: block;
    width: 100%;
    line-height: 36px;
}

@media (max-width:680px){
    #menu{
        display: none;
    }
}
@media (min-width:681px){
    #burger{
        display: none;
    }
}


#content div#main{
    position: relative;
    height: 840px;
    /* outline: 1px solid green; */
    /* background-image: url(./asset/mainPage.png); */
}
div#main>#csBox{
    position: absolute;
    width: 480px;
    height: 360px;
    top: 30%;
    left: 100px;
    z-index: 2;
    /* outline: 1px solid orange; */
}
div#main #csBox>div.q{
    font-weight:700;
    line-height: 1.2;
    padding-left: 24px;
    border-left: 6px solid #222328;
}
p.mainTxt{
    margin-top: 10px;
    font-weight: 700;
    letter-spacing: -2px;
}
p.subTxt{
    margin-top: 30px;
    line-height: 1.2;
}
p.subTxt span{
    font-weight: 700;
}

#csBox > div.goBtn{
    position: absolute;
    width: 180px;
    height: 40px;
    bottom: 0;
    background: #F7E600;
    border-radius: 8px;
    transition: .5s;
}
#csBox > div.goBtn:hover{
    transform: translateY(-5px);
    box-shadow: 0px 5px 10px 0 rgba(0,0,0,0.5);
}
.hoverAni{
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    transition: .5s;
    z-index: 1;
}
.hoverAni:hover{
    transform: translateY(-5px);
    transform: scale(1.01);
    box-shadow: 0px 5px 10px 0 rgba(0,0,0,0.5);
    z-index: 2;
}
.hoverAniUnSha{
    transition: .5s;
    z-index: 1;
}
.hoverAniUnSha:hover{
    transform: translateY(-5px);
    transform: scale(1.05);
    z-index: 2;
}
#csBox > div.goBtn a{
    line-height: 40px;
    font-weight: 700;
    display: block;
    text-align: center;
    font-size: 16px;
}

div#main #mainBg{
    position: absolute;
    z-index: 1;
    width: 580px;
    left: 50%;
    top: 30%;
    /* outline: 1px solid green; */
    animation: upDownLittle 5s ease 0s infinite ;
}
div#main #mainBg img{
    width: 100%;
}
@keyframes upDownLittle {
    0%{
        transform:translateY(2%)
    }
    50%{
        transform:translateY(-2%)
    }
    100%{
        transform:translateY(2%)
    }
}

div#yellowBg{
    position: relative;
    background: #F7E600;
    width: 100%;
    height: auto;
}
div#yellowBg .container{
    text-align: center;
    height: auto;
}
div#yellowBg .container #explain{
    width: 100%;
    padding-top: 100px;
    letter-spacing: -1px;
    /* text-align: center; */
    /* outline: 1px solid green; */
}
div#yellowBg .container #explain h3{
    font-weight: 700;
}
div#yellowBg .container #explain h4{
    margin-top: 10px;
}

#yellowBg #explain ul{
    display: block;
    margin: 40px auto 0;;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
#yellowBg #explain ul li{
    background: white;
    box-sizing: border-box;
    padding: 30px 10px 30px;
    border-radius: 10px;
    width: 23%;
    height: 200px;
    margin-bottom: 20px;
    transition: .5s;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

@media (min-width: 640px) and (max-width:930px){
    #yellowBg #explain ul li{
        width: 48%;
    }
}
@media (max-width: 640px){
    #explain h3{
        font-size: 32px;
        font-weight: 700;
    }
    #explain h4{
        font-size: 24px;
    }
    #yellowBg #explain ul li{
        width: 90%;
    }
}
#yellowBg #explain ul li img{
    width: 64px;
}
#yellowBg #explain ul li p{
    line-height: 1.3;
    margin-top: 30px;
}
#yellowBg #explain ul li:hover{
    transform: translateY(-5px);
    box-shadow: 0px 5px 10px 0 rgba(0,0,0,0.5);
}

#botFunc{
    width: 100%;
    box-sizing: border-box;
    padding: 100px 100px 0;
}
#botFunc h3{
    font-weight: 700;
}
#botFunc h4{
    margin-top: 10px;
}
#botFunc h4:after {
    content: "";
    display: block;
    width: 180px;
    border-bottom: 4px solid white;
    margin: 40px auto;
}
#leftFuncMenu{
    max-width: 580px;
    float: left;
}

#leftFuncMenu ul{
    column-count: 2;
    width: 100%;
}
#leftFuncMenu ul li{
    display: inline-block;
    width: 280px;
    box-sizing: border-box;
    padding: 20px;
    margin: 10px 0;
    text-align: left;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    transition: .5s;
}
#funcInfoBox ul li:hover{
    transform: translateY(-5px);
    box-shadow: 0px 5px 10px 0 rgba(0,0,0,0.5);
}

#funcInfoBox ul li .funcName{
    display: flex;
    align-items: center;
    
    letter-spacing: -1px;
}
#funcInfoBox ul li .funcName i{
    float: left;
}
#funcInfoBox ul li .funcName h5{
    float: right;
    margin-left: 10px;
    font-weight: 700;
}
#funcInfoBox ul li p{
    display: block;
    line-height: 1.2;
    letter-spacing: -1px;
    margin-top: 16px;
}
#funcInfoBox ul li p span{
    font-weight: 600;
}
#funcSch{
    width:580px;
    height: 180px;
    border-radius: 10px;
    background: white;
    opacity: .6;
    display: flex;
    align-items: center;
    margin-top: 10px;
    flex-direction: row;
    justify-content: center;
}
#funcSch p{
    letter-spacing: -1px;
    font-weight: 700;
}

#mockUp{
    margin-top: 10px;
    display: flex;
    align-items: center;
    width: 380px;
    float: right;
}
#mockUp div#icon{
    display: block;
    width: 80px;
    text-align: center;
    margin-right: 20px;
}
#mockUp div#icon i{
    text-align: center;
}
#mockUp div{
    font-size: 32px;
}
#mockUp #mocUpBox{
    width: 380px;
    height: 1230px;
    display: block;
    float: right;
    /* position: absolute;
    right: 0;
    top: 0; */
    /* display: flex; */
}
#mockUp #mocUpBox img{
    position: absolute;
    top: 50%;
    /* left: 50%; */
    transform: translate(-50%, -50%);

    width: 280px;
}
#mockUp #mocUpBox img:nth-child(1){
    width: 268px;
    border-radius: 20px;
}
@media (max-width:1196px){
    #botFunc{
        padding: 100px 20px 0;
    }
    #mockUp{
        display: none;
    }
    #leftFuncMenu{
        max-width: 100%;
        margin: 0 auto;
    }
}
@media (min-width:931px) and (max-width:1196px) {
    /* #botFunc{
        padding: 100px 20px 0;
    }
    #mockUp{
        display: none;
    }
    #leftFuncMenu{
        max-width: 100%;
        margin: 0 auto;
    } */
    #leftFuncMenu ul{
        column-count: 3;
        width: 100%;
    }
    #leftFuncMenu ul li{
        width: 100%;
    }
    #funcSch{
        width: 100%;
        height: 100px;
    }
}
@media (min-width:640px) and (max-width:930px){
    /* #botFunc{
        padding: 100px 20px 0;
    }
    #mockUp{
        display: none;
    }
    #leftFuncMenu{
        max-width: 100%;
        margin: 0 auto;
    } */
    #leftFuncMenu ul{
        column-count: 2;
        width: 100%;
    }
    #leftFuncMenu ul li{
        width: 100%;
    }
    #funcSch{
        width: 100%;
        height: 100px;
    }
}
@media (max-width:640px){
    #botFunc h3{
        font-size: 32px;
        font-weight: 700;
    }
    #botFunc h4{
        font-size: 24px;
    }
    /* #botFunc{
        padding: 100px 20px 0;
    }
    #mockUp{
        display: none;
    }
    #leftFuncMenu{
        max-width: 100%;
        margin: 0 auto;
    } */
    #leftFuncMenu ul{
        column-count: 1;
        width: 100%;
    }
    #leftFuncMenu ul li{
        width: 100%;
    }
    #funcSch{
        width: 100%;
        height: 100px;
    }
}

#funcInfoBox:after{
    display: block;
    content: "";
    clear: both;
}

#plan{
    display: block;
    padding: 100px 0;
}
#plan h3{
    font-weight: 700;
}
#plan h4{
    margin-top: 10px;
}
#plan ul{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
#plan ul li{
    position: relative;
    display: block;
    width: 32%;
    height: 320px;
    box-sizing: border-box;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    line-height: 1.5;
}
#plan ul li .bestPlan{
    position: absolute;
}
#plan ul li .bestSell{
    top: -4px;
    left: -4px;
}
#plan ul li div:nth-child(3){
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}
#plan ul li h4{
    margin-top: 10px;
    font-weight: 600;
    letter-spacing: -1px;
}
#plan ul li h5{
    font-weight: 600;
    margin-top: 4px;
}
#plan ul li p.planEx{
    font-size: 20px;
    font-weight: 600;
    color: #666666;
    margin-top: 52px;
}
#plan ul li div.prcBtn{
    display: inline-block;
    font-weight: 600;
    width: 180px;
    height: 40px;
    background: #f7e600;
    border-radius: 10px;
    margin-top: 20px;
}
div.prcBtn p span{
    font-size: 16px;
}

@media (max-width:910px) {
    #plan{
        padding: 100px 20px;
    }
    #plan ul li{
        width: 100%;
        margin-bottom: 20px;
        height: 288px;
    }
    #plan ul li p.planEx{
        margin-top: 20px;
    }
}

#contact .textAlCenter{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
#contact .textAlCenter img{
    width: 300px;
}
#contact .textAlCenter h4{
    margin-top: 20px;
    font-weight: 600;
}
#contact .textAlCenter p{
    margin-top: 40px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -1px;
}
#contact .textAlCenter p span{
    font-weight: 600;
}

#contact #contactBtn{
    display: inline-block;
    width: 380px;
    margin-top: 64px;
}
#contact #contactBtn img{
    width: 100%;
}

@media (max-width:580px){
    #contact .textAlCenter p{
        font-size: 20px;
    }
}

footer{
    text-align: center;
    background: #f7e600;
    padding: 40px 0 40px;
}
footer .info{
    width: 100%;
    margin: 0 auto;
}
footer .info ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
footer .info ul li{
    display: inline-block;
    line-height: 1.3;
}
footer .info ul li span{
    margin-right: 10px;
    margin-left: 20px;
    color: #222222;
}
footer .info ul li b{
    font-weight: 500;
}
footer #address{
    margin-top: 20px;
}



/* #yellowBg .container #explain{
    width: 100%;
    position: absolute;
    text-align: center;
    margin-top: 100px;
    letter-spacing: -1px; 
    left: 50%;
    transform: translateX(-50%);
}
#yellowBg #explain h3{
    font-weight: 700;
}
#yellowBg #explain h5{
    margin-top: 10px;
}
#yellowBg #explain ul{
    display: block;
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#yellowBg #explain ul li{
    background: white;
    border-radius: 10px;
    height: 200px;
} */
